.HomePageMainWrapper {
    .hidden {
        overflow-y: hidden;
    }
    .filter-btn{
        display: none;
    }

    .home {
        overflow-x: hidden;
        padding: 1rem;
        padding-top: 7rem;


        .home-details {
            display: flex;

            .detail-left {
                width: 20%;
            }

            .detail-right {
                width: 80%;
            }
        }
    }

    .top-section {
        .top-right {
            .detail-right {
                display: flex;
                gap: 2rem;

                button {
                    padding: 10px 25px;
                    background-color: #EDA415;
                    border: 1px solid #EDA415;
                    color: white;
                    border-radius: 20px;
                }
            }
        }
    }

    .add-category-overlay {
        width: 100%;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.729);
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;

        select {
            width: 100%;
            height: 50px;
            padding-left: 10px;
            border: 1.85px solid #3C3C3C73;
            border-radius: 14px;
            margin-bottom: 1rem;
        }

        .add-category-model {
            width: 400px;
            // height: 326px;
            border-radius: 19px;
            background-color: white;
            padding: 2rem;

            h2 {
                font-family: Montserrat;
                font-size: 23.73px;
                font-weight: 600;
                line-height: 28.93px;
                text-align: center;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;

            }

            input {
                width: 100%;
                height: 50px;
                padding-left: 10px;
                border: 1.85px solid #3C3C3C73;
                border-radius: 14px;
            }

            input:focus,
            select:focus {
                outline: 1px solid #EDA415;
            }

            .buttons {
                margin-top: 1rem;
                display: flex;
                justify-content: center;
                gap: 10px;

                button {
                    padding: 6px 25px;
                    border-radius: 9px;
                    font-family: Montserrat;
                    font-size: 14.25px;
                    font-weight: 500;
                    line-height: 27.13px;
                    text-align: center;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;

                }

                .add {
                    background-color: #EDA415;
                    border: 1px solid #EDA415;
                    color: white;
                }

                .discard {
                    background-color: #EEEEEE;
                    border: 1px solid #EEEEEE;
                }

            }
        }
    }

    .add-prod-modal {
        width: fit-content;
        background-color: white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem;
        border-radius: 16px;
        height: 95vh;
        overflow-y: scroll;

        .selected-images {
            display: flex;

            .image-container {
                width: 120px;
                height: 80px;
                border: 1px solid #3C3C3C73;
                border-radius: 12px;
                margin-left: 10px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .upload-image {
                width: 120px;
                height: 80px;
                border: 1px solid #3C3C3C73;
                border-style: dashed;
                border-radius: 12px;
                margin-left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        tr {
            height: 80px;
        }

        h3 {
            font-family: Montserrat;
            font-size: 25px;
            font-weight: 600;
            line-height: 30.48px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin-bottom: 2rem;

        }

        .table-key {
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 500;
            line-height: 29.26px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #3C3C3C73;
        }

        .productname-section {

            input,
            select {
                width: 100%;
                border: 1px solid #3C3C3C73;
                height: 40px;
                border-radius: 12px;
                padding-left: 1rem;
            }
        }

        .key-variance {
            display: flex;
            align-items: start;
            padding-top: 10px;
        }

        .variance-data {
            span {
                margin-left: 10px;
            }

            .variance-details {
                margin-bottom: 1rem;
            }

            input {
                width: 100px;
                border: 1px solid #3C3C3C73;
                height: 40px;
                border-radius: 12px;
                padding-left: 1rem;
            }

           
        }
        .add-variance-btn {
            display: block;
            margin-left: auto;
            background-color: #3C3C3C;
            color: white;
            font-family: Montserrat;
            font-size: 17px;
            font-weight: 500;
            line-height: 20.72px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            padding: 5px 20px;
            border-radius: 12px;
        }

        .buttons {
            display: flex;
            justify-content: end;
            padding-top: 1rem;
            gap: 1rem;

            button {
                font-family: Montserrat;
                font-size: 15.33px;
                font-weight: 500;
                line-height: 26px;
                text-align: center;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                padding: 4px 26px;
                border-radius: 8px;

            }

            .addProd {
                background-color: #EDA415;
                color: white;
                border: 1px solid #EDA415;
            }

            .discartProd {
                background-color: #EEEEEE;
                color: rgb(0, 0, 0);
                border: 1px solid #EEEEEE;
            }
        }
    }

    // .sideBarMainWrapper {
        .sidebar {
            background-color: rgb(255, 255, 255);
            width: 100%;
            height: 100vh;

            h5 {
                font-family: Poppins;
                font-size: 16.09px;
                font-weight: 500;
                line-height: 24.14px;
                color: #003F62;

            }

            h6 {
                font-family: Poppins;
                font-size: 16.09px;
                font-weight: 400;
                line-height: 24.14px;

            }

            .accordion-button {
                background-color: white !important;
            }

            .accordion-item {
                border: none !important;
            }

            .accordion-button:not(.collapsed) {
                color: #000000;
                box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
            }

            .checkbox-wrapper {
                display: flex;
                align-items: center;
                margin-bottom: 8px;





                input[type="checkbox"] {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    width: 23px;
                    height: 23px;
                    border: 2px solid #555;
                    border-radius: 4px;
                    background-color: #e0e0e0;
                    display: inline-block;
                    position: relative;
                    cursor: pointer;
                    outline: none;
                    margin-right: 8px;
                    transition: background-color 0.3s ease;

                    &:checked {
                        background-color: #555;
                        border-color: #555;
                    }

                    &:checked::after {
                        content: '✔';
                        font-size: 12px;
                        color: white;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                label {
                    cursor: pointer;
                    font-size: 14px;
                    color: #333;
                }
            }

        }
    // }

    .product-listing-wrapper {
        width: 100%;
        z-index: 8888;

        .items-count {
            font-size: 14.49px;
            font-weight: 400;
            line-height: 20.29px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #747474;
        }

        a {
            text-decoration: none;
        }

        .card {
            width: 100%;
            // height: 400px;
            border-radius: 19px;
            border: 0.98px solid #B6B6B6;
            position: relative;
            overflow: hidden;
            margin-bottom: 1rem;

            .wishlist {
                position: absolute;
                right: 1rem;
                top: 1rem;
                width: 27px;
                height: 27px;
                border-radius: 50%;
                background-color: #B3D4E5;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }

            .prod-image {
                height: 200px;
                width: 100%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                // background-color: red
            }

            .price-details {
                padding: 1rem;
            }

            .prod-title {
                font-family: Poppins;
                font-size: 17.09px;
                font-weight: 500;
                line-height: 25.64px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #003F62;

            }

            .price {
                font-family: Poppins;
                font-size: 17.09px;
                font-weight: 600;
                line-height: 25.64px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #4A4A4A;
                margin-top: 10px;
            }

            .rating {
                display: flex;
                gap: 10px;

                .star-icon {
                    color: #ACACAC;
                }
            }
        }
      
    }
    .filterOffCanvasMaiWrapper{
        .offcanvas{
            width: 90%;
        }
    }
    @media(max-width:991px){
        .home {
            padding-top: 8rem;
        }
        .detail-left{
            display: none;
        }
        .detail-right{
           width: 100% !important;
        }
        .detail-right {
            gap: 10px !important;
            padding-bottom: 1rem !important;
            button {
                padding: 0 10px !important;
                border-radius: 10px !important;
                font-size: 10px !important;
                height: 30px;
                line-height: 10px;
            }
            .filter-btn{
                display: block;
            }
        }
    }

}